.ui.container {
    position: relative;
    top: 100px;
}

.label {
    font-size: 65px;
    position: relative;
    top: 60px;
    left: 670px;
    font-weight: bolder;
}

.ui.footer.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pick {
    font-size:55px;
    font-weight: bolder;
    position: relative;
    left: 20px
}

.ui.secondary.vertical.pointing.menu {
    font-size: 20px;
}